@{
    int paginaAtual = ViewBag.PaginaAtual ?? 1;
    int totalItens = ViewBag.TotalItens ?? 0;
    int tamanhoPagina = ViewBag.TamanhoPagina ?? 10;
    string termo = ViewBag.Termo ?? "";

    int totalPaginas = (int)Math.Ceiling((double)totalItens / tamanhoPagina);

    int inicio = Math.Max(1, paginaAtual - 1);
    int fim = Math.Min(totalPaginas, paginaAtual + 1);
}

<nav class="d-flex justify-content-between align-items-center">
    @if (totalItens > 0)
    {
        <ul class="pagination mb-0">
            <li class="page-item @(paginaAtual == 1 ? "disabled" : "")">
                <a href="#" class="page-link arrow" data-pagina="@(paginaAtual - 1)">
                    <i class="fa-solid fa-arrow-left"></i> Anterior
                </a>
            </li>

            @for (int i = inicio; i <= fim; i++)
            {
                <li class="page-item @(i == paginaAtual ? "active" : "")">
                    <a href="#" class="page-link rounded-circle" data-pagina="@i">@i</a>
                </li>
            }

            <li class="page-item @(paginaAtual == totalPaginas ? "disabled" : "")">
                <a href="#" class="page-link arrow" data-pagina="@(paginaAtual + 1)">
                    Próximo <i class="fa-solid fa-arrow-right"></i>
                </a>
            </li>
        </ul>
    }
    else
    {
        <div></div> 
    }
    <div>
        @await Html.PartialAsync("_Botoes")
    </div>
</nav>


