@model List<ACBWeb.Models.Cliente>

<div id="clientes-container">
    <table class='table table-hover mt-3 table-striped'>
        <thead>
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center col-">Nome</th>
                <th class="text-center col-4">Observações</th>
                <th class="text-center col-2">Status</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var cliente in Model)
                {
                    <tr data-id="@cliente.IdCliente" onclick="abrirModalCliente(@cliente.IdCliente)" style="cursor: pointer;">
                        <td class="text-center align-middle">@cliente.IdCliente</td>
                        <td class="text-center align-middle">@cliente.Nome</td>
                        <td class="text-center align-middle">@cliente.Observacoes</td>
                        <td class="text-center align-middle @(cliente.Status == 2 ? "text-danger fw-bold" : "")">
                            @(cliente.Status == 0 ? "Inativo" :
                              cliente.Status == 1 ? "Ativo" :
                              cliente.Status == 2 ? "Bloqueado" : "")
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    @{
        ViewBag.ModalId = "modalCliente";
    }
    @await Html.PartialAsync("_Paginacao")
</div>