@model List<ACBWeb.Models.Conta>

<div id="contas-container">
    <table class='table table-hover table-striped'>
        <thead>
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">Situação</th>
                <th class="text-center">Data de Cadastro</th>
                <th class="text-center">Valor Total</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var conta in Model)
                {
                    <tr data-id="@conta.IdConta" onclick="abrirModalConta(@conta.IdConta)" style="cursor: pointer;">
                        <td class="text-center align-middle">@conta.IdConta</td>
                        <td class="text-center align-middle">
                            @(conta.Situacao == 0 ? "Em Aberto" :
                            conta.Situacao == 1 ? "Pago" :
                            conta.Situacao == 2 ? "Pago Parcial" : "")
                        </td>
                        <td class="text-center align-middle">@conta.DataCadastro?.ToString("dd/MM/yyyy")</td>
                        <td class="text-center align-middle">-</td>

                    </tr>
                }
            }
        </tbody>
    </table>
    @{
        ViewBag.ModalId = "modalConta";
    }
    @await Html.PartialAsync("_Paginacao")
</div>